<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICFornecedor" />
        <binding name="BasicHttpBinding_ICMaterial" />
        <binding name="BasicHttpBinding_ICSetor" />
        <binding name="BasicHttpBinding_ICBanco" />
        <binding name="BasicHttpBinding_ICAgencia" />
        <binding name="BasicHttpBinding_ICContaCorrente" />
        <binding name="BasicHttpBinding_ICPlanoContas" />
        <binding name="BasicHttpBinding_ICLancamento" />
        <binding name="BasicHttpBinding_ICFornecimentoMaterial" />
        <binding name="BasicHttpBinding_ICPagamento" />
        <binding name="BasicHttpBinding_ICDespesa" />
        <binding name="BasicHttpBinding_ICSolicitacaoMaterial" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:14139/CFornecedor.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICFornecedor" contract="CFornecedor.ICFornecedor"
        name="BasicHttpBinding_ICFornecedor" />
      <endpoint address="http://localhost:14139/CMaterial.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICMaterial" contract="CMaterial.ICMaterial"
        name="BasicHttpBinding_ICMaterial" />
      <endpoint address="http://localhost:14139/CSetor.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICSetor" contract="CSetor.ICSetor"
        name="BasicHttpBinding_ICSetor" />
      <endpoint address="http://localhost:14139/CBanco.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICBanco" contract="CBanco.ICBanco"
        name="BasicHttpBinding_ICBanco" />
      <endpoint address="http://localhost:14139/CAgencia.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICAgencia" contract="CAgencia.ICAgencia"
        name="BasicHttpBinding_ICAgencia" />
      <endpoint address="http://localhost:14139/CContaCorrente.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICContaCorrente"
        contract="CContaCorrente.ICContaCorrente" name="BasicHttpBinding_ICContaCorrente" />
      <endpoint address="http://localhost:14139/CPlanoContas.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICPlanoContas" contract="CPlanoContas.ICPlanoContas"
        name="BasicHttpBinding_ICPlanoContas" />
      <endpoint address="http://localhost:14139/CLancamento.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICLancamento" contract="CLancamento.ICLancamento"
        name="BasicHttpBinding_ICLancamento" />
      <endpoint address="http://localhost:14139/CFornecimentoMaterial.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICFornecimentoMaterial"
        contract="CFornecimentoMaterial.ICFornecimentoMaterial" name="BasicHttpBinding_ICFornecimentoMaterial" />
      <endpoint address="http://localhost:14139/CPagamento.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICPagamento" contract="CPagamento.ICPagamento"
        name="BasicHttpBinding_ICPagamento" />
      <endpoint address="http://localhost:14139/CDespesa.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICDespesa" contract="CDespesa.ICDespesa"
        name="BasicHttpBinding_ICDespesa" />
      <endpoint address="http://localhost:14139/CSolicitacaoMaterial.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICSolicitacaoMaterial"
        contract="CSolicitacaoMaterial.ICSolicitacaoMaterial" name="BasicHttpBinding_ICSolicitacaoMaterial" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>